# ============================
# Node
# ============================
node_modules/
dist/
.cache/
coverage/

# ============================
# Entorno
# ============================
.env
.env.*          # ignora cualquier archivo .env.*
!.env.ejemplo   # PERO permite subir .env.ejemplo

# ============================
# Docker
# ============================
docker-compose.override.yml
docker-data/
*.pid

# ============================
# Sistema / OS
# ============================
.DS_Store
Thumbs.db

# ============================
# Editores
# ============================
.vscode/
.idea/

# ============================
# Logs
# ============================
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
uploads/
backend/uploads/
frontend/uploads/
