explorahuelva.es {
  encode gzip

  @api path /api/*

  # Rutas de API -> contenedor api:5174
  handle @api {
    reverse_proxy api:5174
  }

  # Todo lo demás -> contenedor web:80 (build de React)
  handle {
    reverse_proxy web:80
  }
}

