{
  auto_https off
}

:80 {
  encode gzip

  @api path /api/* /uploads/*
  handle @api {
    reverse_proxy api:5174
  }

  handle {
    reverse_proxy web:80
  }

  log {
    output stdout
    format console
    level INFO
  }
}
