networks:
  explora_net: {}

volumes:
  mongo_data: {}
  uploads_data: {}

services:
  mongo:
    image: mongo:6
    container_name: explora-mongo-1
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: supersecret
    volumes:
      - mongo_data:/data/db
    networks: [explora_net]

  api:
    container_name: explora-api-1
    build:
      context: ./backend
    environment:
      NODE_ENV: production

      # Mongo
      MONGO_RAIZ_USUARIO: admin
      MONGO_RAIZ_PASSWORD: supersecret
      MONGO_NOMBRE_BD: explora
      CADENA_MONGO: mongodb://admin:supersecret@mongo:27017/explora?authSource=admin     

      # JWT
      JWT_SECRETO: "c2b83781c891e2920f3b07d0d1ff9827da31cafcb46a4bab3b82f93103e65d5b"    

      # CORS / URLs
      FRONT_ORIGEN: https://explorahuelva.es
      PUBLIC_URL: https://explorahuelva.es

      # === SMTP Hostinger ===
      SMTP_HOST: smtp.hostinger.com
      SMTP_PORT: "587"                   # STARTTLS recomendado
      SMTP_SECURE: "false"               # necesario con puerto 587
      SMTP_USER: "no-reply@explorahuelva.es"
      SMTP_PASS: "Juantalamera.5"
      MAIL_FROM: "Explora Huelva <no-reply@explorahuelva.es>"

      # Puerto interno
      PUERTO_INTERNO: "5174"

    expose:
      - "5174"
    volumes:
      - uploads_data:/app/uploads
    depends_on:
      - mongo
    networks: [explora_net]

  web:
    container_name: explora-web-1
    build:
      context: ./frontend
    environment:
      NODE_ENV: production
      VITE_API_URL: https://explorahuelva.es/api
    expose:
      - "80"
    depends_on:
      - api
    networks: [explora_net]

  caddy:
    image: caddy:2-alpine
    container_name: explora-caddy-1
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
    depends_on:
      - api
      - web
    networks: [explora_net]

